version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: api_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: mvp_db
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: api_redis
    restart: always
    command: redis-server /usr/local/etc/redis/redis.conf
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf

  # --- Novo Serviço: Interface Visual do Redis ---
  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis_gui
    restart: always
    environment:
      # Diz para o Commander onde está o Redis
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis

volumes:
  pg_data:
  redis_data:
